/* Coolors Exported Palette - coolors.co/b0d0d3-c08497-f7af9d-f7e3af-f3eec3 */

$blue: rgba(176, 208, 211, 1);
$foreground: rgba(192, 132, 151, 1);
$red: rgba(247, 175, 157, 1);
$accent: rgba(247, 227, 175, 1);
$background: rgba(243, 238, 195, 1);
